@import "./variables";
@import "./testimonial";
@import "./portfolioGrid";
@import "./socialMediaButtons";

body {
    background: #c3cfe2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
}






















